In [1]:
import os, sys
sys.path.append(os.path.join('..', 'osiris'))

In [3]:
from data.gdelt import DataSource
gdelt = DataSource()

In [25]:
events = gdelt.import_data('events', 'Jul-02-2021', 'Jul-03-2021')

In [28]:
events.head(15)

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,993037188,20200702,202007,2020,2020.4986,NaN,NaN,NaN,NaN,NaN,...,4,"Calgary, Alberta, Canada",CA,CA01,12549,51.083300,-114.0830,-561990,20210702014500,https://edmontonjournal.com/opinion/columnists...
1,993037189,20200702,202007,2020,2020.4986,NaN,NaN,NaN,NaN,NaN,...,4,"Ecopetrol, Tolima, Colombia",CO,CO28,14343,5.201870,-74.9301,10837637,20210702014500,https://riotimesonline.com/brazil-news/mercosu...
2,993037190,20200702,202007,2020,2020.4986,BUS,COMPANY,NaN,NaN,NaN,...,4,"Calgary, Alberta, Canada",CA,CA01,12549,51.083300,-114.0830,-561990,20210702014500,https://edmontonjournal.com/opinion/columnists...
3,993037191,20200702,202007,2020,2020.4986,COL,COLOMBIA,COL,NaN,NaN,...,4,"Ecopetrol, Tolima, Colombia",CO,CO28,14343,5.201870,-74.9301,10837637,20210702014500,https://riotimesonline.com/brazil-news/mercosu...
4,993037192,20200702,202007,2020,2020.4986,COP,DEPUTY,NaN,NaN,NaN,...,4,"Nairobi, Nairobi Area, Kenya",KE,KE05,18585,-1.283330,36.8167,-2258072,20210702014500,https://www.bloombergquint.com/onweb/bid-to-am...
5,993037193,20200702,202007,2020,2020.4986,COP,DEPUTY,NaN,NaN,NaN,...,4,"Nairobi, Nairobi Area, Kenya",KE,KE05,18585,-1.283330,36.8167,-2258072,20210702014500,https://www.bloombergquint.com/onweb/bid-to-am...
6,993037194,20200702,202007,2020,2020.4986,KENCOP,KENYA,KEN,NaN,NaN,...,4,"Nairobi, Nairobi Area, Kenya",KE,KE05,18585,-1.283330,36.8167,-2258072,20210702014500,https://www.bloombergquint.com/onweb/bid-to-am...
7,993037195,20200702,202007,2020,2020.4986,MEX,MEXICO,MEX,NaN,NaN,...,1,Mexico,MX,MX,NaN,23.000000,-102.0000,MX,20210702014500,https://www.santafenewmexican.com/news/local_n...
8,993037196,20200702,202007,2020,2020.4986,USACRM,NEW YORK,USA,NaN,NaN,...,2,"New York, United States",US,USNY,NaN,42.149700,-74.9384,NY,20210702014500,https://www.dailymail.co.uk/news/article-97478...
9,993037197,20210602,202106,2021,2021.4164,MED,PUBLICATION,NaN,NaN,NaN,...,1,United States,US,US,NaN,39.828175,-98.5795,US,20210702014500,https://www.deadlinedetroit.com/articles/28298...
10,993037198,20210602,202106,2021,2021.4164,MMRMED,MYANMAR,MMR,NaN,NaN,...,4,"Yangon, Yangon, Myanmar",BM,BM17,41840,16.805300,96.1561,-440623,20210702014500,https://www.deadlinedetroit.com/articles/28298...
11,993037199,20210602,202106,2021,2021.4164,USAGOV,UNITED STATES,USA,NaN,NaN,...,2,"Iowa, United States",US,USIA,NaN,42.004600,-93.2140,IA,20210702014500,https://www.radioiowa.com/2021/07/01/iowa-tax-...
12,993037200,20210602,202106,2021,2021.4164,USAMED,REUTERS,USA,NaN,NaN,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20210702014500,https://www.channelnewsasia.com/news/world/bra...
13,993037201,20210625,202106,2021,2021.4795,GOV,MINIST OF ECONOMY,NaN,NaN,NaN,...,4,"Viti Levu, Fiji (general), Fiji",FJ,FJ00,40204,-18.000000,178.0000,-1196743,20210702014500,https://www.fiji.gov.fj/Media-Centre/News/ROLL...
14,993037202,20210625,202106,2021,2021.4795,GOV,MINIST OF ECONOMY,NaN,NaN,NaN,...,4,"Viti Levu, Fiji (general), Fiji",FJ,FJ00,40204,-18.000000,178.0000,-1196743,20210702014500,https://www.fiji.gov.fj/Media-Centre/News/ROLL...

In [23]:
events["CAMEOCodeDescription"]

0                              Appeal for economic aid
1                                         Make a visit
2                  Acknowledge or claim responsibility
3                          Accuse, not specified below
4                          Accuse, not specified below
                             ...
68747     Arrest, detain, or charge with legal action
68748              Express intent to meet or negotiate
68749                                 Occupy territory
68750                                Praise or endorse
68751                     Consult, not specified below
Name: CAMEOCodeDescription, Length: 181043, dtype: object