In [11]:
import os, sys
sys.path.append(os.path.join('..', 'osiris'))`

['C:\\Projects\\osiris\\notebooks', 'C:\\Python\\Python37\\python37.zip', 'C:\\Python\\Python37\\DLLs', 'C:\\Python\\Python37\\lib', 'C:\\Python\\Python37', 'c:\\python\\venv\\osiris', '', 'c:\\python\\venv\\osiris\\lib\\site-packages', 'c:\\python\\venv\\osiris\\lib\\site-packages\\win32', 'c:\\python\\venv\\osiris\\lib\\site-packages\\win32\\lib', 'c:\\python\\venv\\osiris\\lib\\site-packages\\Pythonwin', 'c:\\python\\venv\\osiris\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Allister\\.ipython', '..\\osiris']

In [15]:
from data.gdelt import DataSource
gdelt = DataSource()

In [18]:
events = gdelt.import_data('events', 'Jul-02-2021', 'Jul-03-2021')

   GLOBALEVENTID   SQLDATE  MonthYear  Year  FractionDate Actor1Code  \
0      993028266  20200702     202007  2020     2020.4986        NaN
1      993028267  20200702     202007  2020     2020.4986        NaN
2      993028268  20200702     202007  2020     2020.4986        GBR
3      993028269  20200702     202007  2020     2020.4986        GBR
4      993028270  20200702     202007  2020     2020.4986     GBRMED

       Actor1Name Actor1CountryCode Actor1KnownGroupCode Actor1EthnicCode  \
0             NaN               NaN                  NaN              NaN
1             NaN               NaN                  NaN              NaN
2  UNITED KINGDOM               GBR                  NaN              NaN
3  UNITED KINGDOM               GBR                  NaN              NaN
4         BRITISH               GBR                  NaN              NaN

   ... ActionGeo_Type                           ActionGeo_FullName  \
0  ...              2                       Alabama, United States
1  ...              2                     Tennessee, United States
2  ...              4  Benderloch, Argyll and Bute, United Kingdom
3  ...              1                               United Kingdom
4  ...              1                               United Kingdom

  ActionGeo_CountryCode ActionGeo_ADM1Code ActionGeo_ADM2Code ActionGeo_Lat  \
0                    US               USAL                NaN       32.7990
1                    US               USTN                NaN       35.7449
2                    UK               UKT8              40176       56.4833
3                    UK                 UK                NaN       54.0000
4                    UK                 UK                NaN       54.0000

  ActionGeo_Long ActionGeo_FeatureID       DATEADDED  \
0       -86.8073                  AL  20210702003000
1       -86.7489                  TN  20210702003000
2        -5.4000            -2604064  20210702003000
3        -4.0000                  UK  20210702003000
4        -4.0000                  UK  20210702003000

                                           SOURCEURL
0  https://www.alabamanews.net/2021/07/01/wwii-ve...
1  https://www.alabamanews.net/2021/07/01/wwii-ve...
2  https://www.obantimes.co.uk/2021/07/01/fined-a...
3  https://news.yahoo.com/amber-heard-mom-her-own...
4  https://news.yahoo.com/amber-heard-mom-her-own...

[5 rows x 62 columns]

In [19]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181043 entries, 0 to 68751
Data columns (total 62 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   GLOBALEVENTID          181043 non-null  int64
 1   SQLDATE                181043 non-null  int64
 2   MonthYear              181043 non-null  int64
 3   Year                   181043 non-null  int64
 4   FractionDate           181043 non-null  float64
 5   Actor1Code             162514 non-null  object
 6   Actor1Name             162514 non-null  object
 7   Actor1CountryCode      97937 non-null   object
 8   Actor1KnownGroupCode   2849 non-null    object
 9   Actor1EthnicCode       1563 non-null    object
 10  Actor1Religion1Code    2121 non-null    object
 11  Actor1Religion2Code    561 non-null     object
 12  Actor1Type1Code        80580 non-null   object
 13  Actor1Type2Code        5626 non-null    object
 14  Actor1Type3Code        113 non-null     object
 15  Actor2Code             125320 non-null  object
 16  Actor2Name             125320 non-null  object
 17  Actor2CountryCode      75475 non-null   object
 18  Actor2KnownGroupCode   2126 non-null    object
 19  Actor2EthnicCode       1220 non-null    object
 20  Actor2Religion1Code    1873 non-null    object
 21  Actor2Religion2Code    463 non-null     object
 22  Actor2Type1Code        62278 non-null   object
 23  Actor2Type2Code        3960 non-null    object
 24  Actor2Type3Code        58 non-null      object
 25  IsRootEvent            181043 non-null  int64
 26  EventCode              181043 non-null  object
 27  CAMEOCodeDescription   181043 non-null  object
 28  EventBaseCode          181043 non-null  object
 29  EventRootCode          181043 non-null  object
 30  QuadClass              181043 non-null  int64
 31  GoldsteinScale         181043 non-null  float64
 32  NumMentions            181043 non-null  int64
 33  NumSources             181043 non-null  int64
 34  NumArticles            181043 non-null  int64
 35  AvgTone                181043 non-null  float64
 36  Actor1Geo_Type         181043 non-null  int64
 37  Actor1Geo_FullName     157849 non-null  object
 38  Actor1Geo_CountryCode  157886 non-null  object
 39  Actor1Geo_ADM1Code     157886 non-null  object
 40  Actor1Geo_ADM2Code     95076 non-null   object
 41  Actor1Geo_Lat          157849 non-null  float64
 42  Actor1Geo_Long         157861 non-null  float64
 43  Actor1Geo_FeatureID    157886 non-null  object
 44  Actor2Geo_Type         181043 non-null  int64
 45  Actor2Geo_FullName     121894 non-null  object
 46  Actor2Geo_CountryCode  121923 non-null  object
 47  Actor2Geo_ADM1Code     121923 non-null  object
 48  Actor2Geo_ADM2Code     62502 non-null   object
 49  Actor2Geo_Lat          121894 non-null  float64
 50  Actor2Geo_Long         121903 non-null  float64
 51  Actor2Geo_FeatureID    121923 non-null  object
 52  ActionGeo_Type         181043 non-null  int64
 53  ActionGeo_FullName     175849 non-null  object
 54  ActionGeo_CountryCode  175885 non-null  object
 55  ActionGeo_ADM1Code     175885 non-null  object
 56  ActionGeo_ADM2Code     89957 non-null   object
 57  ActionGeo_Lat          175849 non-null  float64
 58  ActionGeo_Long         175862 non-null  float64
 59  ActionGeo_FeatureID    175885 non-null  object
 60  DATEADDED              181043 non-null  int64
 61  SOURCEURL              181043 non-null  object
dtypes: float64(9), int64(13), object(40)
memory usage: 87.0+ MB