In [2]:
import os, sys
sys.path.append(os.path.join('..', 'osiris'))
from osiris_global import set_log_level
set_log_level(debug = False)

In [3]:
import numpy as np

In [4]:
from data.gdelt import DataSource
gdelt = DataSource()

In [5]:
events = gdelt.import_data('events', 'Nov-02-2021 02:00:00', 'Nov-02-2021 04:00:00')

Importing GDELT events data for 2 hour(s) from 11-02-2021 02:00:00 to 11-02-2021 04:00:00...
Importing GDELT events data for 2 hour(s) from 11-02-2021 02:00:00 to 11-02-2021 04:00:00 completed in 1.71 s.

In [17]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 62 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   GLOBALEVENTID          916 non-null    int64
 1   SQLDATE                916 non-null    int64
 2   MonthYear              916 non-null    int64
 3   Year                   916 non-null    int64
 4   FractionDate           916 non-null    float64
 5   Actor1Code             825 non-null    object
 6   Actor1Name             825 non-null    object
 7   Actor1CountryCode      483 non-null    object
 8   Actor1KnownGroupCode   11 non-null     object
 9   Actor1EthnicCode       8 non-null      object
 10  Actor1Religion1Code    7 non-null      object
 11  Actor1Religion2Code    6 non-null      object
 12  Actor1Type1Code        460 non-null    object
 13  Actor1Type2Code        25 non-null     object
 14  Actor1Type3Code        0 non-null      float64
 15  Actor2Code             659 non-null    object
 16  Actor2Name             659 non-null    object
 17  Actor2CountryCode      390 non-null    object
 18  Actor2KnownGroupCode   7 non-null      object
 19  Actor2EthnicCode       7 non-null      object
 20  Actor2Religion1Code    3 non-null      object
 21  Actor2Religion2Code    2 non-null      object
 22  Actor2Type1Code        356 non-null    object
 23  Actor2Type2Code        17 non-null     object
 24  Actor2Type3Code        0 non-null      float64
 25  IsRootEvent            916 non-null    int64
 26  EventCode              916 non-null    object
 27  CAMEOCodeDescription   916 non-null    object
 28  EventBaseCode          916 non-null    object
 29  EventRootCode          916 non-null    object
 30  QuadClass              916 non-null    int64
 31  GoldsteinScale         916 non-null    float64
 32  NumMentions            916 non-null    int64
 33  NumSources             916 non-null    int64
 34  NumArticles            916 non-null    int64
 35  AvgTone                916 non-null    float64
 36  Actor1Geo_Type         916 non-null    int64
 37  Actor1Geo_FullName     802 non-null    object
 38  Actor1Geo_CountryCode  802 non-null    object
 39  Actor1Geo_ADM1Code     802 non-null    object
 40  Actor1Geo_ADM2Code     429 non-null    object
 41  Actor1Geo_Lat          802 non-null    float64
 42  Actor1Geo_Long         802 non-null    float64
 43  Actor1Geo_FeatureID    802 non-null    object
 44  Actor2Geo_Type         916 non-null    int64
 45  Actor2Geo_FullName     642 non-null    object
 46  Actor2Geo_CountryCode  642 non-null    object
 47  Actor2Geo_ADM1Code     642 non-null    object
 48  Actor2Geo_ADM2Code     267 non-null    object
 49  Actor2Geo_Lat          642 non-null    float64
 50  Actor2Geo_Long         642 non-null    float64
 51  Actor2Geo_FeatureID    642 non-null    object
 52  ActionGeo_Type         916 non-null    int64
 53  ActionGeo_FullName     893 non-null    object
 54  ActionGeo_CountryCode  893 non-null    object
 55  ActionGeo_ADM1Code     893 non-null    object
 56  ActionGeo_ADM2Code     351 non-null    object
 57  ActionGeo_Lat          893 non-null    float64
 58  ActionGeo_Long         893 non-null    float64
 59  ActionGeo_FeatureID    893 non-null    object
 60  DATEADDED              916 non-null    int64
 61  SOURCEURL              916 non-null    object
dtypes: float64(11), int64(13), object(38)
memory usage: 443.8+ KB

In [14]:
actor1_cols = ['Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode', 'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code', 'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code']
actor2_cols = ['Actor2Code', 'Actor2Name', 'Actor2CountryCode', 'Actor1KnownGroupCode', 'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code', 'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code']

In [24]:
for c in actor1_cols:
    events[c] = events[c].astype(str).str.upper().replace({'NAN':''})
for c in actor2_cols:
    events[c] = events[c].astype(str).str.upper().replace({'NAN':''})
events['IsRootEvent'] = events['IsRootEvent'].astype(bool)
events

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,1012390690,20201102,202011,2020,2020.8274,,,,,,...,3,"San Francisco, California, United States",US,USCA,NaN,37.774900,-122.41900,277593,20211102234500,https://www.turnto23.com/news/state/san-franci...
1,1012390691,20201102,202011,2020,2020.8274,EDU,STUDENT,,,,...,3,"Houston, Texas, United States",US,USTX,TX201,29.763300,-95.36330,1380948,20211102234500,https://www.houstonchronicle.com/news/houston-...
2,1012390692,20201102,202011,2020,2020.8274,USA,UNITED STATES,USA,,,...,2,"Illinois, United States",US,USIL,NaN,40.336300,-89.00220,IL,20211102234500,https://libertynewsnow.com/everything-wrong-wi...
3,1012390693,20201102,202011,2020,2020.8274,USA,UNITED STATES,USA,,,...,1,United States,US,US,NaN,39.828175,-98.57950,US,20211102234500,https://www.idsnews.com/article/2021/11/tribal...
4,1012390694,20201102,202011,2020,2020.8274,USA,ILLINOIS,USA,,,...,2,"Illinois, United States",US,USIL,NaN,40.336300,-89.00220,IL,20211102234500,https://libertynewsnow.com/everything-wrong-wi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911,1012391601,20211102,202111,2021,2021.8274,NAI,NATIVE AMERICAN,,,NAI,...,2,"Michigan, United States",US,USMI,NaN,43.350400,-84.56030,MI,20211102234500,https://www.cm-life.com/article/2021/11/native...
912,1012391602,20211102,202111,2021,2021.8274,NAI,NATIVE AMERICAN,,,NAI,...,3,"Central Michigan University, Michigan, United ...",US,USMI,NaN,43.591400,-84.77500,623006,20211102234500,https://www.cm-life.com/article/2021/11/native...
913,1012391603,20211102,202111,2021,2021.8274,NEP,NEPALI,,,NEP,...,1,Nepal,NP,NP,NaN,28.000000,84.00000,NP,20211102234500,https://www.washingtonpost.com/lifestyle/kidsp...
914,1012391604,20211102,202111,2021,2021.8274,SCO,SCOTTISH,,,SCO,...,3,"White House, District of Columbia, United States",US,USDC,NaN,38.895100,-77.03640,531871,20211102234500,https://www.dailyrecord.co.uk/news/scottish-ne...
915,1012391605,20211102,202111,2021,2021.8274,SCOLEG,SCOTTISH,,,SCO,...,4,"Lanarkshire, South Lanarkshire, United Kingdom",UK,UKW5,40176,55.583300,-3.83333,-2600653,20211102234500,https://www.dailyrecord.co.uk/entertainment/ce...

In [22]:
set(map(str, events['Actor1Name'].values))

{'ACTIVIST',
 'ADMINISTRATION',
 'AFGHAN',
 'AFGHANISTAN',
 'AFRICA',
 'AIRASIA',
 'ALASKA',
 'AMERICAN',
 'ANTIOCH',
 'AOTEAROA',
 'ARIZONA',
 'ARMENIA',
 'ARMY',
 'ATTORNEY',
 'ATTORNEY GENERAL',
 'AUSTRALIA',
 'AUSTRALIAN',
 'AUTHORITIES',
 'BAHAMA',
 'BAHRAIN',
 'BANK',
 'BEIJING',
 'BELARUSIAN',
 'BOEING',
 'BOLIVIA',
 'BOSS',
 'BOSTON',
 'BRITISH COLUMBIA',
 'BRUNEI DARUSSALAM',
 'BUREAUCRAT',
 'BUSINESS',
 'CALIFORNIA',
 'CANADA',
 'CATHOLIC',
 'CHAD',
 'CHIEF EXECUTIVE',
 'CHINA',
 'CHRISTIAN',
 'CITIZEN',
 'CIVILIAN',
 'CLEVELAND',
 'COLLEGE',
 'COLOMBIA',
 'COLORADO',
 'COMMUNITY',
 'COMPANY',
 'CONGO',
 'CONGRESSMAN',
 'CORRESPONDENT',
 'COSTA RICA',
 'COSTA RICANS',
 'COUNCIL OF EUROPE',
 'DANISH',
 'DAVID KOPEL',
 'DELAWARE',
 'DEMOCRATIC REPUBLIC OF CONGO',
 'DEPARTMENT OF AGRICULTURE',
 'DEPUTIES',
 'DEPUTY',
 'DETECTIVE',
 'DETROIT',
 'DOMINICAN REPUBLIC',
 'DRUG PEDDLER',
 'EMPLOYEE',
 'ENTREPRENEUR',
 'ENVIRONMENTALIST',
 'ERITREAN',
 'ETHIOPIA',
 'ETHIOPIAN',
 'EUROPE',
 'EUROPEAN',
 'EUROPEAN PARLIAMENT',
 'FARMER',
 'FELON',
 'FIGHTER',
 'FINN',
 'FLORIDA',
 'FOREIGN RELATIONS COMMITTEE',
 'FREETOWN',
 'FRENCH',
 'GABON',
 'GAMBIA',
 'GERMANY',
 'GOOGLE',
 'GOVERNMENT',
 'GOVERNOR',
 'GUATEMALA',
 'GUNMEN',
 'HAITIAN',
 'HEALTH DEPARTMENT',
 'HEALTH OFFICIAL',
 'HITMAN',
 'HOSPITAL',
 'HOUSTON',
 'HUNTER',
 'IDAHO',
 'ILLINOIS',
 'INDIANA',
 'INDUSTRY',
 'INVESTOR',
 'IRAN',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ISRAELI',
 'ITALIAN',
 'ITALY',
 'JAMAICA',
 'JANET MUSEVENI',
 'JAPAN',
 'JOE BIDEN',
 'JOURNALIST',
 'JUDGE',
 'KABUL',
 'KANSAS',
 'KENTUCKY',
 'KHARTOUM',
 'LAWRENCE',
 'LAWYER',
 'LEBANON',
 'LECTURER',
 'LEGISLATOR',
 'LEGISLATURE',
 'LONDON',
 'LOS ANGELES',
 'LUTHERAN',
 'MAGISTRATE',
 'MALAYSIA',
 'MAYOR',
 'MEDIA',
 'MEXICAN',
 'MEXICO',
 'MICHIGAN',
 'MICROSOFT',
 'MIGRANT',
 'MILITARY',
 'MINIST',
 'MINIST OF FOREIGN AFFAIRS',
 'MINIST OF HEALTH',
 'MINNEAPOLIS',
 'MISSOURI',
 'MOROCCO',
 'NARA',
 'NASA',
 'NATIVE AMERICAN',
 'NEIGHBORHOOD',
 'NEPALI',
 'NEW BRUNSWICK',
 'NEW MEXICO',
 'NEW YORK',
 'NIGER DELTA',
 'NIGERIA',
 'NIGERIAN',
 'NORTHERN CAPE',
 'NORWEGIAN',
 'OKLAHOMA',
 'PANAMA',
 'PARTY LEADER',
 'PFIZER',
 'PHILIPPINE',
 'PHNOM PENH',
 'PHOENIX',
 'PHYSICIAN',
 'POLICE',
 'POLICE FORCE',
 'POLISH',
 'POPULATION',
 'PORTLAND',
 'PRESIDENT',
 'PRIME MINISTER',
 'PRISON',
 'PRISONER OF WAR',
 'PROFESSOR',
 'PROSECUTOR',
 'PROTESTER',
 'QUEEN ELIZABETH II',
 'REGULATOR',
 'REPRESENTATIVES',
 'RESIDENTS',
 'REVOLT',
 'RIGHTS GROUP',
 'RIYADH',
 'ROME',
 'RUSSIA',
 'RUSSIAN',
 'SAN DIEGO',
 'SARAWAK',
 'SAUDI',
 'SAUDI ARABIA',
 'SCHOLAR',
 'SCHOOL',
 'SCOTLAND',
 'SCOTTISH',
 'SECRETARY OF STATE',
 'SENATE',
 'SENATOR',
 'SETTLEMENT',
 'SOUTH KOREA',
 'SPOKESMAN',
 'STARBUCKS',
 'STUDENT',
 'SUDAN',
 'SUDANESE',
 'TAIWAN',
 'TEXAS',
 'THE ASSOCIATED PRESS',
 'THE EUROPEAN UNION',
 'THE POPE',
 'THE UN',
 'THE US',
 'TRAVELLER',
 'TURKEY',
 'U. S.',
 'UGANDA',
 'UNITED KINGDOM',
 'UNITED NATIONS',
 'UNITED STATES',
 'UNIVERSITY',
 'VATICAN',
 'VENEZUELA',
 'VICTORIA',
 'VIETNAM',
 'VILLAGE',
 'VIRGINIA',
 'VOTER',
 'WASHINGTON',
 'WEBSITE',
 'WESTERN AUSTRALIA',
 'WESTERN SAHARA',
 'WORKER',
 'WRITER',
 'WYOMING',
 'nan'}

In [23]:
events["CAMEOCodeDescription"]

0                              Appeal for economic aid
1                                         Make a visit
2                  Acknowledge or claim responsibility
3                          Accuse, not specified below
4                          Accuse, not specified below
                             ...
68747     Arrest, detain, or charge with legal action
68748              Express intent to meet or negotiate
68749                                 Occupy territory
68750                                Praise or endorse
68751                     Consult, not specified below
Name: CAMEOCodeDescription, Length: 181043, dtype: object